@use "./_var";
@use "sass:color";

body {
    font-family: 'Inter Variable';
    width: 100%;
    background-color: var(--base);
}

main {
    width: 100%;
}
svg.line {
    z-index: -100;
    position: absolute;
    width: 100vw;
    fill: none;
    stroke-width: 5px;
}

.timeline-container {
    padding: calc(5 / 860) * 100vw;
}

.timeline {
    display: grid;
    margin: 1.5vw;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 16.75vw;
    column-gap: 1.5vw;
    row-gap: 3vw;
    // width: 100%;
    // padding: 0.5vw;
    // height: 100%;
}

.timeline-entry {
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid var(--surface2);
    background-color: var(--base);
    transition: background-color 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

@for $i from 1 through 4 {
    .timeline-entry:nth-child(#{$i}):hover {
        background-color: color-mix(var(--base) 80%, var(--sky) 20%);
        border-color: var(--sky);
    }
}

@for $i from 5 through 8 {
    .timeline-entry:nth-child(#{$i}):hover {
        background-color: color-mix(var(--base) 80%, var(--green) 20%);
        border-color: var(--green);
    }
}

@for $i from 9 through 12 {
    .timeline-entry:nth-child(#{$i}):hover {
        background-color: color-mix(var(--base) 80%, var(--maroon) 20%);
        border-color: var(--maroon);
    }
}

.timeline-entry p {
    margin: 1.5vw;
    overflow: hidden;
    height: 80%;
    color: var(--text);
    text-align: justify;
    font-size: 2.75vw;
}


.modal {
    backdrop-filter: blur(0px);
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal.visible {
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.2s ease-out;
}

.modal-popup {
    background-color: var(--base);
    color: var(--text);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 1.5vw;
    border-radius: 20px;
    border: 1px solid var(--surface2);
    width: 75%; /* Could be more or less, depending on screen size */
    box-shadow: 0px 0px 0px var(--overlay0);
    transform: scale(0);
    overflow: auto;
    max-height:calc(100vh - 30%);
}

@keyframes pop-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}


.modal.visible > .modal-popup {
    animation: 0.2s cubic-bezier(0.33, 1, 0.68, 1) pop-in;
    box-shadow: 0px 0px 8px var(--overlay0);
    transform: scale(1);
    transition: box-shadow 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.modal-popup svg#close-modal {
    float: right;
}

.ideology-meter {
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--surface2)
}

.ideology-filled {
    border-radius: 20px;
    width: 10%;
    height: 20px;
    border: 1px solid var(--surface2)
}

.modal-popup h1 {
    margin-bottom: 0.75rem;
}


.modal-popup img {
    border-radius: 20px;
    width: 100%;
}

.date, .impact-tag, .ideology-explanation  {
    color: var(--subtext0);
    font-size: 0.9rem;
}

.impact-tag {
    float: right;
}

div.heading {
    margin: 1rem 0;
    display: block;
}

div.heading h1 {
    margin: 0;
    display: inline;
}

.cause-effect {
    direction: rtl;
    display: block;
}

.footer {
    padding: (calc(5 / 860) * 100vw) + 1.5vw;
    // direction: rtl;
}

.legend {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    // text-align: center;
}

.legend p {
    text-decoration: underline 0.15rem;
    // flex: 1;
}

.legend p::before {
    display: inline-block;
    margin-right: 0.25rem;
    content: "⬤ "    
}

.legend p:nth-child(1) {
    text-decoration: none;

    &::before {
        content: ""
    }
}


.legend p:nth-child(2) {
    text-decoration-color: var(--sky);

    &::before {
        color: var(--sky);
    }
}

.legend p:nth-child(3) {
    text-decoration-color: var(--green);

    &::before {
        color: var(--green);
    }
}


.legend p:nth-child(4) {
    text-decoration-color: var(--maroon);

    &::before {
        color: var(--maroon);
    }
}


.credit {
    font-size: 0.9rem;
    color: var(--subtext0);
    text-align: center
}