<!doctype html>
<html lang="en-CA">
	<head>
        <meta charset="UTF-8" />
		<meta name="viewport" content="width = device-width, initial-scale = 1" />
		<meta name="generator" content={Astro.generator} />
        <title>angel's timeline</title>
        <script src="../scripts/main.js"></script>
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>